<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conString" connectionString="Database=ERPExcelforteMaster;Server=35.185.186.225;user=sa;password=Accountitpwd..." providerName="System.Data.SqlClient"/>
    <add name="ERP.Excelforte" connectionString="Database=ERPExcelforteMaster;Server=35.185.186.225;user=sa;password=Accountitpwd..." providerName="System.Data.SqlClient"/>
    <!--<add name="ERP.Excelforte" connectionString="Database=CementaidERPMaster;Server=EFDBSERVER;user=sa;password=accountitpwd...;Connect Timeout=200; pooling='true'; Max Pool Size=2000" providerName="System.Data.SqlClient" />-->
    <!--<add name="conString" connectionString="Database=CementaidERPMaster;Server=EFDBSERVER;user=sa;password=accountitpwd...;Connect Timeout=200; pooling='true'; Max Pool Size=2000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" executionTimeout="900000" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servicebehaviors">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EightGems">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="servicebehaviors" name="EFService.EFServices">
        <endpoint address="EightGems" contract="EFService.IEightGems" binding="webHttpBinding" bindingConfiguration="" behaviorConfiguration="EightGems">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>